<#@ template language="C#" linePragmas="false" #>
<#@ parameter name="className" type="System.String" #>
<#@ parameter name="viewIDs" type="System.String[]" #>

namespace Core.Module.ViewManagerSystem
{
  public static class <#= className #>
  {
<#
    for(int i = 0; i < viewIDs.Length; i++)
    {
#>
	    public const int <#= viewIDs[i].Replace(" ", "") #> = <#= viewIDs[i].GetHashCode() #>;
<#
    }
#>
  }
}
