<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#
	_classNameField = "View";
	_viewIDsField = new string[]
  {
	"Test1",
	"Test2",
	"Test3"
  };
#>
<#@ include file="$(ProjectDir)CodeGeneration\T4s\ViewConstantsGenerator.tt" #>